.left-bg.hot-snack {
  background-image: url(/img/hot_snack_left.jpg);
}
.left-bg.ice-snack {
  background-image: url(/img/ice_snack_left.jpg);
}
.left-bg.salat {
  background-image: url(/img/salat_left.jpg);
}
.left-bg.main-dishes {
  background-image: url(/img/MainDishes_left.jpg);
}
.left-bg.grill {
  background-image: url(/img/GrillDishes_left.jpg);
}
.left-bg.firstDish {
  background-image: url(/img/FirstDishes_left.jpg);
}
.left-bg.garnier {
  background-image: url(/img/garnier_left.jpg);
}
.left-bg.desert {
  background-image: url(/img/desert_left.jpg);
}
.left-bg.hot-drink {
  background-image: url(/img/hot_drink_left.jpg);
}
.left-bg.ice-drink {
  background-image: url(/img/ice_drink_left.jpg);
}
.left-bg.kids {
  background-image: url(/img/kids_left.jpg);
}
.left-bg.alco-cockt {
  background-image: url(/img/alco_cocktails_left.jpg);
}
.left-bg.vine-one {
  background-image: url(/img/vine1_left.jpg);
}
.left-bg.vine-two {
  background-image: url(/img/vine2_left.jpg);
}
.left-bg.alco-one {
  background-image: url(/img/alcho1_left.jpg);
}
.left-bg.alco-two {
  background-image: url(/img/alcho2_left.jpg);
}
.left-bg.alco-three {
  background-image: url(/img/alcho3_left.jpg);
}
.left-bg.hookah {
  background-image: url(/img/hookah_left.jpg);
}
.left-bg.other {
  background-image: url(/img/other_left.jpg);
}

.rigt-bg.hot-snack {
  background-image: url(/img/hot_snack_right.jpg);
}
.rigt-bg.ice-snack {
  background-image: url(/img/ice_snack_right.jpg);
}
.rigt-bg.salat {
  background-image: url(/img/salat_right.jpg);
}
.rigt-bg.main-dishes {
  background-image: url(/img/MainDishes_right.jpg);
}
.rigt-bg.grill {
  background-image: url(/img/GrillDishes_right.jpg);
}
.rigt-bg.firstDish {
  background-image: url(/img/FirstDishes_right.jpg);
}
.rigt-bg.garnier {
  background-image: url(/img/garnier_right.jpg);
}
.rigt-bg.desert {
  background-image: url(/img/desert_right.jpg);
}
.rigt-bg.hot-drink {
  background-image: url(/img/hot_drink_right.jpg);
}
.rigt-bg.ice-drink {
  background-image: url(/img/ice_drink_right.jpg);
}
.rigt-bg.kids {
  background-image: url(/img/kids_right.jpg);
}
.rigt-bg.alco-cockt {
  background-image: url(/img/alco_cocktails_right.jpg);
}
.rigt-bg.vine-one {
  background-image: url(/img/vine1_right.jpg);
}
.rigt-bg.vine-two {
  background-image: url(/img/vine2_right.jpg);
}
.rigt-bg.alco-one {
  background-image: url(/img/alcho1_right.jpg);
}
.rigt-bg.alco-two {
  background-image: url(/img/alcho2_right.jpg);
}
.rigt-bg.alco-three {
  background-image: url(/img/alcho3_right.jpg);
}
.rigt-bg.hookah {
  background-image: url(/img/hookah_right.jpg);
}
.rigt-bg.other {
  background-image: url(/img/other_right.jpg);
}