.left-bg {
    &.hot-snack {
        background-image: url(/img/hot_snack_left.jpg);
    }

    &.ice-snack {
        background-image: url(/img/ice_snack_left.jpg);
    }

    &.salat {
        background-image: url(/img/salat_left.jpg);
    }

    &.main-dishes {
        background-image: url(/img/MainDishes_left.jpg);
    }

    &.grill {
        background-image: url(/img/GrillDishes_left.jpg);
    }

    &.firstDish {
        background-image: url(/img/FirstDishes_left.jpg);
    }

    &.garnier {
        background-image: url(/img/garnier_left.jpg);
    }

    &.desert {
        background-image: url(/img/desert_left.jpg);
    }

    &.hot-drink {
        background-image: url(/img/hot_drink_left.jpg);
    }

    &.ice-drink {
        background-image: url(/img/ice_drink_left.jpg);
    }

    &.kids {
        background-image: url(/img/kids_left.jpg);
    }

    &.alco-cockt {
        background-image: url(/img/alco_cocktails_left.jpg);
    }

    &.vine-one {
        background-image: url(/img/vine1_left.jpg);
    }

    &.vine-two {
        background-image: url(/img/vine2_left.jpg);
    }

    &.alco-one {
        background-image: url(/img/alcho1_left.jpg);
    }

    &.alco-two {
        background-image: url(/img/alcho2_left.jpg);
    }

    &.alco-three {
        background-image: url(/img/alcho3_left.jpg);
    }&.hookah{
        background-image: url(/img/hookah_left.jpg);
    }&.other{
        background-image: url(/img/other_left.jpg);
    }
}

.rigt-bg {
    &.hot-snack {
        background-image: url(/img/hot_snack_right.jpg);
    }

    &.ice-snack {
        background-image: url(/img/ice_snack_right.jpg);
    }

    &.salat {
        background-image: url(/img/salat_right.jpg);
    }

    &.main-dishes {
        background-image: url(/img/MainDishes_right.jpg);
    }

    &.grill {
        background-image: url(/img/GrillDishes_right.jpg);
    }

    &.firstDish {
        background-image: url(/img/FirstDishes_right.jpg);
    }

    &.garnier {
        background-image: url(/img/garnier_right.jpg);
    }

    &.desert {
        background-image: url(/img/desert_right.jpg);
    }

    &.hot-drink {
        background-image: url(/img/hot_drink_right.jpg);
    }

    &.ice-drink {
        background-image: url(/img/ice_drink_right.jpg);
    }

    &.kids {
        background-image: url(/img/kids_right.jpg);
    }

    &.alco-cockt {
        background-image: url(/img/alco_cocktails_right.jpg);
    }

    &.vine-one {
        background-image: url(/img/vine1_right.jpg);
    }

    &.vine-two {
        background-image: url(/img/vine2_right.jpg);
    }

    &.alco-one {
        background-image: url(/img/alcho1_right.jpg);
    }

    &.alco-two {
        background-image: url(/img/alcho2_right.jpg);
    }

    &.alco-three {
        background-image: url(/img/alcho3_right.jpg);
    }&.hookah{
        background-image: url(/img/hookah_right.jpg);
    }&.other{
        background-image: url(/img/other_right.jpg);
    }
}